body #root .container main .container-items .card {
    min-width: 220px;
    width: 220px;
    height: 220px;
    border-radius: 25px;
    position: relative;
    color: black;
    box-shadow: 0px 0px 2px ffff transparent;
    overflow: hidden;  
    transition: all 0.20s ease-in;

}

body #root .container main .container-items .card:hover {
  transform: scale(1.1);
  transform: translateY(-10px);
  height: 270px;
}

body #root .container main .container-items .card:hover p {
  display: flex;
  height: fit-content;
}

body #root .container main .container-items .card:hover h3 {
  font-size: 1em;
}

body #root .container main .container-items .card .logo-container-service {
    padding: 1rem;
    padding-bottom: 1.75rem;
    position: relative;
    width: 80%;
    object-fit: cover;
} 

body #root .container main .container-items .card .logo-container-service {
    padding: 1rem;
    position: relative;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items:center;
  }

body #root .container main .container-items .card .logo-container-service img {
    width: 120px;
  }

  body #root .container main .container-items .card .card-background {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(211, 211, 211);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 60%;
    position: relative;
    color: black;
    box-shadow: 0px 0px 2px #234F1E;
    overflow: hidden;  
    transition: all 0.20s ease-in;

  }

  body #root .container main .container-items .card .info-card {
    background: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 40%;
    display: flex;
    justify-content:center;
    align-items: start;
    gap: 1em;
    padding: 10px;
    text-decoration: none !important;
  }

  body #root .container main .container-items .card .icon-document a {
    color: #234F1E;
    font-size: 2.5em;
    text-decoration: none;
  }

  body #root .container main .container-items .card h3 {
    font-size: 1.2em;
    color: #234F1E;
    gap: 0 !important;
    margin: 0 !important;
    text-decoration: none;
  }

  body #root .container main .container-items .card p {
    font-size: 0.8em;
    color: #234F1E;
    gap: 0 !important;
    margin: 0 !important;
    text-decoration: none;
    display: none;
  }

  body #root .container main .container-items .card .info-description {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 20px;
    text-decoration: none;
  }