.search-container {
    display: flex;
    width: 100%;
}

.search-container div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-container div input[type=text] {
  padding: auto;
  font-size: 1em;
  width: 100%;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 10px;
  position: relative;
  border: 3px solid blue;
}

.search-container div input:focus {
  border: #234F1E;
}

.search-container div .search-icon {
  color: #234F1E;
  position: absolute;
  left: 486px;
  top: 16px;
  border-color: transparent;
  background-color: transparent;
}

.search-container div .search-icon i{
  font-size: large; 
}