.button-filters {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-filters-flex-scroll {
    display: flex;
    gap: 2em;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 15px;;
    padding-left: 15px;
    padding-right: 15px;
}

.scroll-y {
    width: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.button-filters-not-display {
    display: none;
}