body #root .container .hamburger {
    display: block;
    position: absolute;
    left: 1.5rem;
    top: 1.85rem;
    cursor: pointer;
  }
  body #root .container .hamburger > div {
    width: 25px;
    height: 3px;
    background: #252733;
    margin: 6px 0;
    border-radius: 2px;
  }
  @media (max-width: 740px) {
    body #root .container .hamburger {
      display: block;
    }
  }