body #root .container main .container-detail-document .container-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    padding: 10px;
}

.title-vista-detallada {
    text-align: center;
    font-size: 2.5em;
}

body #root .container main .container-detail-document .container-information .price {
    font-size: 2.8em;
    width: 100%;
    margin-top: 0.5em;
    font-weight: bold;
    text-align: start;
}

.description-vista-detallada {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
    width: 100%;
}

.info-adicional-vista-detallada {
    font-size: 1em;
    text-align: justify;
    width: 100%;
    margin-top: 1em;
}


body #root .container main .container-detail-document .container-information .clausulas {
    font-size: 1.5em;
    font-weight: bold;
}


body #root .container main .container-detail-document .container-information .button-vista-detallada {
    margin-top: 3em;
    font-size: 1.5em;
    padding: 0.5em;
    width: 100%;
}

body #root .container main .container-detail-document .container-information .button-vista-detallada:hover {
    background-color: #234F1E;
    color: white;
}

body #root .container main .container-detail-document .container-information .clausulas .btn-ver-clausulas {
    background-color: #234F1E;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}

@media (max-width: 1177px){

    body #root .container main .container-detail-document .container-information {
        width: 80%;
    }

    body #root .container main .container-detail-document .container-information button {
        width: 100%;
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }

    body #root .container main .container-detail-document .container-information button:hover {
        background-color: #234F1E;
        color: white;
    }
}

@media (max-width: 1377px){
    .container-information {
        width: 60% !important;
        min-width: 480px;
        max-width: 480px;
    }
}

