body #root .container main .container-detail-document .container-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40%;
}

body #root .container main .container-detail-document .container-information h1 {
    font-size: 2.5em;
    text-align: start;
}

body #root .container main .container-detail-document .container-information .price {
    font-size: 2.8em;
    width: fit-content;
    margin-top: 0.5em;
    font-weight: bold;
}

body #root .container main .container-detail-document .container-information div {
    font-size: 1em;
    margin-top: 2em;
    text-align: justify;
    margin-right: 6em;
}

body #root .container main .container-detail-document .container-information .clausulas {
    font-size: 1.5em;
    font-weight: bold;
}


body #root .container main .container-detail-document .container-information button {
    margin-top: 3em;
    font-size: 2em;
    padding: 0.5em;
    width: 70%;
}

body #root .container main .container-detail-document .container-information button:hover {
    background-color: #234F1E;
    color: white;
}

body #root .container main .container-detail-document .container-information .clausulas .btn-ver-clausulas {
    background-color: #234F1E;
    color: white;
    font-size: 1em;
    padding: 0.5em;
}

@media (max-width: 1177px){

    body #root .container main .container-detail-document .container-information {
        width: 80%;
    }

    body #root .container main .container-detail-document .container-information button {
        width: 100%;
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }

    body #root .container main .container-detail-document .container-information button:hover {
        background-color: #234F1E;
        color: white;
    }
}

