#main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  #previewCarrito {
    width: 450px;
    
  }

  #previewCarrito-not-visible {
    width: 0px;
  }
  .sidebar-carrito {
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #fff ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4em;
  }

  .detail-info-document .price-item {
    font-size: 1.5em;
  }


  .sidebar-carrito .closebtn {
    margin-right: 1em;
    margin-left: 0px;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    
  }

  .closebtn i {
    font-size: 1.5em;
  }
  .details:hover .closebtn {
    color: #efb810;
  }
  .sidebar-carrito .title {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1em 1em 1em;
    transition: all 0.5s;
    gap: 20px;
    background-color: #234F1E ;
  }
  .sidebar-carrito .title h4 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 0.5em;
  }
  .sidebar-carrito .details {
    display: flex;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1em 0em;
    border-bottom: 3px solid #dfe0eb;
  }

  .detail-imagen {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-imagen img {
    width: 100px;
    height: 100px;
    background-color: #234F1E;
    padding: 10px;
  }

  .detail-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    gap: -15px;
    width: 50%;
    line-height: 0.2;
  }

  .detail-info  strong.title {
    color: #5E5E5E;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.5em;
    margin-bottom: 10px;
    width: 90%;
    word-break: break-word;
    margin-bottom: 0;
  }

  .detail-info p.precio  {
    font-size: 1.5em;
    font-weight: 600;
    color: #2F2F2F
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
  }

  .details-subtotal {
    display: flex;
    flex-direction: column;
    color: #2F2F2F;
    font-size: 2.5em;
    align-items: center;
    justify-content: start;
    width: 61%;
    margin-top: 1em;
    margin-top: 20px;
    font-weight: 12px;
    height: fit-content;
    overflow: hidden;
    line-height: 1.5;
  }
  .sidebar-carrito .closebtn {
    font-size: 1.5rem;
    color: #fff;
  }

.container-button-ver-carrito {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.ver-carrito {
  margin: 1em auto;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;

    background-color: fff;
    transform: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    transition: opacity .3s;
    background: #234F1E;

    border-top-width: 1px;
    border-top-style: solid;
    height: 80px;

}

.ver-carrito a {
  text-decoration: none;
  color: #fff
}

.none-vaciar-carrito {
  display: none;
}