body #root .container main .container-items .container-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3em;
    padding: 10px;
    justify-content: center;
    height: fit-content;
}



