body #root .container main .container-detail-document-flex {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 6em;
    width: 100%;
}

@media (max-width: 1377px){
    body #root .container main .container-detail-document-flex {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}