.container {
  display: grid;
  margin: 0;
  background-color: #e6e7eb;
  min-height: 100vh;
  height: fit-content;
  grid-template-columns: clamp(220px, 25%, 280px) 1fr;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.container main {
  display: grid;
  grid-column-start: 2;
  grid-template-rows: 1fr 100px auto auto;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 1.5rem 1.5rem;
  max-height: 100%;
  height: fit-content;
  resize: both;
  /* overflow: hidden; */
}

body #root .container main header {
  display: grid;
  grid-row: 1;
  grid-column: 1/-1;
  padding: 1rem 0;
}

body #root .container main .header {
    display: grid;
    grid-template-columns: 1fr 140px 10px;
    padding: 1rem 0;
}

body #root .container main .container-title {
  display: grid;
  grid-row: 2;
  grid-column: 1/-1;
  grid-template-columns: 1fr;
}

body #root .container main .container-items {
  display: grid;
  grid-row-start: 3;
  grid-column: 1/9;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-right: 3px solid #dfe0eb;
  padding-right: 10px;
}

body #root .container main .container-detail-document {
  display: grid;
  grid-row-start: 3;
  grid-column: 1/-1;
  padding: 10px;
  border: 3px solid #dfe0eb;
}


body #root .container main  .container-detail-service {
  display: grid;
  grid-row-start: 3/-1;
  grid-column: 1/-1;
  padding: 10px;
  border: 3px solid #dfe0eb;
}

body #root .container main  .container-items-cart {
  display: grid;
  grid-row-start: 3;
  padding: 10px;
  border: 3px solid #dfe0eb;
  grid-column: 1/-1;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

body #root .container main .container-checkout {
  display: grid;
  grid-row-start: 3;
  padding: 10px;
  border: 3px solid #dfe0eb;
  grid-column: 1/-1;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
}

body #root .container main .container-items-service {
  display: grid;
  grid-row-start: 4;
  grid-column: 1/9;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-right: 3px solid #dfe0eb;
  padding-right: 10px;
  gap: 1em;
}

body #root .container main .order-detail-container {
  display: grid;
  grid-row-start: 4;
  grid-column: 1/9;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-right: 3px solid #dfe0eb;
  padding-right: 10px;
  gap: 1em;
}

body #root .container main  .documents-related-orden-view {
  display: grid;
  grid-row-start: 5;
  grid-column: 1/9;
  grid-template-columns: 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-right: 3px solid #dfe0eb;
  padding-right: 10px;
  gap: 1em;
}


body #root .container main  .container-categoria-labels {
  display: grid;
  background-color: #e6e7eb;
  display: grid;
  grid-row-start: 3;
  grid-row-end: -1;
  grid-column: 10/-1;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-rows: repeat(1fr);
}


body #root .container main .sidebar {
  display: grid;
  background-color: #e6e7eb;
  display: grid;
  grid-row-start: 2;
  grid-column: 9/-1;
  grid-template-rows: auto;
  gap: 2rem;
}

body #root .container main .filter-section {
  display: grid;
  background-color: #e6e7eb;
  display: grid;
  grid-row-start: 3;
  grid-column: 10/-1;
  grid-template-rows: auto;
  gap: 2rem;
}

@media (max-width: 504px){
  .container {
    grid-template-columns: auto;
  }
}

@media (max-width: 1253px){
  .container {
    grid-template-columns: auto;
  }

  body #root .container main .sidebar {
    display: grid;
    grid-row: -1;
    grid-column: 1/-1;
  }

  body #root .container main .filter-section {
    display: none;
  }

  body {
    grid-template-columns: 1fr;
  }

  body #root .container main .order-detail-container {
    grid-column: 1/-1;
    grid-row: 3;
    
  }

  body #root .container main  .documents-related-orden-view {
    grid-column: 1/-1;
    grid-row: 4;
  }

  body #root .container main .container-items {
    grid-column: 1/-1;
  }

  body #root .container main .container-items-service {
    grid-column: 1/-1;
  }

}

@media (max-width: 1453px) {
  body #root .container main  .container-items-cart .left-items-cart {
    grid-row-start: 4;
    grid-column: 1/-1;
  }
  body #root .container main  .container-items-cart .right-items-cart {
    grid-row-start: 5;
    grid-column: 1/-1;
  }
}

@media (max-width: 1386px) {
  body #root .container main .container-checkout .container-checkout-left {
    grid-row-start: 4;
    grid-column: 1/-1;
  }

  body #root .container main .container-checkout .container-checkout-right {
    grid-row-start: 5;
    grid-column: 1/-1;
  }

  body #root .container main .container-checkout .container-checkout-revio-pago-left {
    grid-row-start: 4;
    grid-column: 1/-1;
  }
  
}